<link rel="preload" href='{{ "fonts/pnp-pd-100.woff2" | absURL }}' as="font" type="font/woff2" crossorigin>
<link rel="preload" href='{{ "fonts/pnp-pd-150.woff2" | absURL }}' as="font" type="font/woff2" crossorigin>
<link rel="preload" href='{{ "fonts/pnp-pd-250.woff2" | absURL }}' as="font" type="font/woff2" crossorigin>
<link rel="preload" href='{{ "fonts/pnp-pd-300.woff2" | absURL }}' as="font" type="font/woff2" crossorigin>
<link rel="preload" href='{{ "fonts/pnp-pd-400.woff2" | absURL }}' as="font" type="font/woff2" crossorigin>
<link rel="preload" href='{{ "fonts/pnp-pd-600.woff2" | absURL }}' as="font" type="font/woff2" crossorigin>
<link rel="preload" href='{{ "fonts/pnp-pd-700.woff2" | absURL }}' as="font" type="font/woff2" crossorigin>
<link rel="preload" href='{{ "fonts/pnp-pd-800.woff2" | absURL }}' as="font" type="font/woff2" crossorigin>
<link rel="preload" href='{{ "fonts/pnp-pd-900.woff2" | absURL }}' as="font" type="font/woff2" crossorigin>

<style>
    :root {
        --base-url: "{{ partial "functions/base-url.html" . }}";
    }
</style>
{{ if .Site.IsServer }}
{{ $styles := resources.Get "css/styles.css" }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
{{ else }}
{{ $styles := resources.Get "css/styles.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
{{ end }}

{{ if .Site.IsServer }}
{{ $styles := resources.Get "css/pattern-scaffolding.css" }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
{{ else }}
{{ $styles := resources.Get "css/pattern-scaffolding.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous"
    media="screen" />
{{ end }}

{{ if .Site.IsServer }}
{{ $styles := resources.Get "css/tweaks.css" }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
{{ else }}
{{ $styles := resources.Get "css/tweaks.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous"
    media="screen" />
{{ end }}

<link rel="prefetch" href='{{ "images/base-assets.svg" | absURL }}' as="image" type="image/svg+xml" media="all">