<header class="section-header">
    <h1>Latest blog posts</h1>
    <p>Stay up-to-date with the latest in Microsoft 365 &amp; Power Platform topics</p>
</header>
<div class="section-inner">
    <header>
        <H1></H1>
        <p></p>
    </header>
    <menu class="section-grid">
        {{ $section := .Site.GetPage "section" "blog" }}
        {{ range sort $section.Pages "Title" "asc"}}
        <li>
            {{ partial "organisms-blog-card" .Params }}
        </li>
        {{ end }}
    </menu>
</div>