
    <div class="section-inner">
    <header class="section-header">
        <h1>Forums</h1>
        <p>Get answers to questions, collaborate and communicate with the community members.</p>
    </header>
        <menu class="section-grid">
            {{ $section := .Site.GetPage "section" "forums" }}
            {{ range sort $section.Pages "Title" "asc"}}
            <li>
                {{ partial "organisms/organisms-sample-card" .Params }}
            </li>
            {{ end }}
        </menu>
    </div>
