
    <div class="section-inner">
    <header class="section-header">
        <h1>SDKs</h1>
        <p>Find what you need to get started building your own solutions.</p>
    </header>
        <menu class="section-grid">

                {{ $section := .Site.GetPage "section" "sdks" }}
                {{ range sort $section.Pages "Title" "asc"}}
                <li>
                    {{ partial "organisms/organisms-sample-card" .Params }}
                </li>
                {{ end }}
        </menu>
    </div>
