{{/*
Matches https://pnp.github.io/styleguide/?p=organisms-blog-card

Variables:
.title: The title
.imgSrc: The image URL
.imgAlt: The alternate text for the image
.description: The description
.date: The date of the blog post
.author: The author of the blog post
.type: The blog post tag
*/}}

<article class="card blog">

    <figure class="blog-media">
        <img src="{{ .imgSrc }}" class="blog-media-img" alt="{{ .imgAlt | htmlEscape }}">
    </figure>
    <div class="blog-content">
        <h2 class="blog-headline">
            {{ .title }}
        </h2>
        <p class="blog-excerpt">
            {{ .description }}
        </p>
        <div class="blog-meta">
            <div class="blog-info">
                <time class="blog-created" datetime="2018-07-07">{{ .date }}</time>
                <div class="blog-author">by {{ .author }}</div>
            </div>
            <div class="blog-type">
                <div class="blog-cat">
                    {{ .type }}
                </div>
            </div>
        </div>
    </div>

</article>