<html lang="{{ .Site.Language.Lang }}">

<head>
    <title>{{- block "title" . }}{{- end }}</title>
    {{ partial "head.html" . }}
    <meta name="robots" content="noindex">
    <script>
        (function () {
            var basePath = new URL("{{ .Site.BaseURL }}").pathname.replace(/\/?$/, "/");
            var sourcePrefix = basePath + "r/";
            var targetPrefix = basePath + "aka/";
            var currentPath = window.location.pathname;

            if (currentPath.indexOf(sourcePrefix) === 0) {
                var targetPath = targetPrefix + currentPath.slice(sourcePrefix.length);
                window.location.replace(targetPath + window.location.search + window.location.hash);
            }
        }());
    </script>
</head>

<body class="" style="">
    <section class="section-404">
        <div class="section-404-inner">
            {{- block "main" . }}{{- end }}
        </div>
    </section>

</body>

</html>
