{{ define "main" }}
<main>
    <section class="section-base community" id="community">
        <div class="section-inner">
            <header class="section-header">
                <h1>Microsoft 365 &amp; Power Platform Community Calls</h1>
                <p>This is a test. The events are fed live from the ical. If you update the ical and refresh the page, the events should be reflected here.</p>
            </header>
            <menu class="section-grid" id="events-container">
                
            </menu>
        </div>
    </section>
</main>
{{ $js := resources.Get "js/calendar.js" }}
{{ $js = $js  }}
<script src="{{ $js.Permalink }}"></script>
{{ end }}
